.library-item-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px;
}

.library-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  img {
    width: 100px;
    height: 100px;
  }
  .level-activity > span {
    text-transform: uppercase;
  }
}
