.submission-item {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  align-items: center;
  width: 90%;
  height: 90%;

  .project-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin: 0 20px;
    padding: 10px 40px;
    width: 100%;
    border-radius: 20px;
    background-color: white;

    img {
      width: 80px;
      height: 80px;
    }
    .submission-message {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
    }
    .submission-timestamp {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
  .teacher-project-image {
    // display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    display: none;
    button {
      cursor: pointer;
      z-index: 99;
    }
  }
}

.active {
  display: flex !important;
}

.submissionContainer {
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 65vh;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.enlarge-photo {
  img {
    width: 90vmin;
  }
}
