.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .video-wrapper {
    height: 90%;
    width: 90%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
