.nav-teacher-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  width: 100vw;
  height: 60px;
  background-color: white;
  z-index: 3;
  img {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: left;
  }
}
