.nav-teacher-wrapper {
  position: relative;
  width: 30vmin;
  height: 100%;
  background-color: #43c0f6;
  display: grid;
  grid-template-rows: 2fr 4fr 5fr 2fr;
  padding-top: 40px;
  min-width: 10rem;
  max-width: 25rem;
  .profile {
    position: relative;
    // width: 100%;
    // height: 90px;
    img {
      position: relative;
      // width: 40%;
      padding: 1rem;
      // margin: 30px;
    }
  }

  .nav-teacher-side {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 2rem;
    ul {
      width: 100%;
      position: relative;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      list-style-type: none;
    }
    a {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin: 10px 0px;
      img {
        position: relative;
        // width: 20px;
        // height: 20px;
        margin: 0 2rem;
        // align-self: flex-start;
      }
      span {
        white-space: nowrap;
        position: relative;
        // margin-left: 70px;
        text-transform: uppercase;
        display: block;
        color: white;
        font-weight: 900;
        font-size: 1.5rem;
      }
    }
  }
  .right-caret-container {
    display: flex;
    justify-content: flex-end;
    .right-caret {
      padding: 20px;
      background-color: #b2e4fa;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      height: 100px;
      .right-triangle {
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-right: 30px solid #f91c84;
      }
    }
  }
  .logout-setting-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // align-items: center;
    .logout-holder {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 1rem 0;
    }
    a {
      display: flex;
      flex-direction: column;
      margin: 10px 0;
      img {
        align-self: center;
      }
      span {
        font-size: 1rem;
        color: white;
      }
    }
  }
}

.minimize {
  .button-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    transform: translateY(0px) !important;
  }
  .nav-teacher-wrapper {
    grid-template-rows: 2fr 6fr 2fr 3fr;
    width: 10vmin;
    .profile {
      width: 10vmin;
    }
    .nav-teacher-side {
      width: 10vmin;
      position: relative;
      a {
        justify-content: center;
      }
      img {
        width: 50px;
        height: 50px;
      }
      span {
        display: none !important;
      }
    }
    .logout-setting-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 10vmin;
      // align-items: center;
      .logout-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 30px;
      }

      span {
        display: none;
      }
    }
    .right-caret-container {
      display: flex;
      justify-content: flex-start;
      .right-caret {
        padding: 20px;
        background-color: #b2e4fa;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 100px;
        .right-triangle {
          width: 0;
          height: 0;
          border-top: 30px solid transparent;
          border-bottom: 30px solid transparent;
          border-right: none;
          border-left: 30px solid #f91c84;
        }
      }
    }
  }
}
