.circle-wrapper {
  display: flex;
  flex-direction: row;
  .progress-circle {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    border: solid 3.5px #43c0f6;
    margin: 2px;
    box-shadow: 0px 2px 5px 0px #888888;
  }
}
