.modal-login {
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);

  img {
    width: 70%;
  }

  // .student-login,
  // .teacher-login {
  //   display: grid;
  //   grid-template-rows: 2fr 4fr;
  //   padding: 1rem;
  //   justify-items: center;
  // }
  // * {
  //   margin: 0.5rem 0;
  // }
  .student-login {
    height: 79vh;
    border-right: solid 0.2rem black;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 999;
}

.tabs {
  .tab-list {
    display: flex;
    justify-content: space-evenly;
    .tab-list-active:first-child {
      border-bottom: solid 2px #43c0f6;
    }
    .tab-list-active {
      border-bottom: solid 2px #f91c85;
    }
    .tab-list-item {
      display: inline-block;
      list-style: none;
    }
  }
  .tab-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
